@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

h1 {
    text-align: center;
    padding-top: 25px;
}

ul {
    list-style: none;
    text-align: center;
    padding-top: 50px;
}

ul li{
    display: inline;
}

a {
    color: rgba(0, 100, 100, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px;

    transition: all, .4s;
}

a:hover {
    color: rgb(0, 200, 200);
    font-size: 20px;
    transition: all, .4s;
}